
 .plans {
    text-align: center;
    margin-bottom: 100px;
    background-color: rgb(208, 214, 214);
    color: brown;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;

  } 
  .planspage{
    background-image: url(src/assets/images/plans-background.jpeg);
    height:100vh;
  }
  
  .cards-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: #1bb9d4;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 30%;
  }
  .card hr{
    width: 100%;

   
  }
  
  .middle-card {
    margin-top: -40px;
    height: 70vh;
  }
  
  .card h2, .card h3, .card h4 {
    margin-bottom: 10px;
  }
  
  .card p {
    line-height: 1.5;
  }
  .planspage button{
    color: white;
    background-color: black;
    border-radius: 20px;
    width: 13vw;
  }
  .planspage button:hover{
    background-color: darkgoldenrod;
  }
  .planspage h2{
    color: chocolate;
  }
  .planspage h3{
    color: chocolate;
  }
  .planspage h4{
    color: chocolate;
  }