.support {
    margin: 0;
    padding: 0;
}

.support-nav {
    height: 100px; 
    background: linear-gradient(90deg, #222B2F 0%, rgba(1, 14, 21, 0.98) 0.01%, rgba(17, 32, 41, 0.97) 19.56%, rgba(33, 42, 47, 0.97) 41.67%, rgba(38, 46, 51, 0.74) 60.42%, rgba(55, 60, 65, 0.62) 72.40%, rgba(55, 60, 65, 0.49) 77.61%, rgba(55, 60, 65, 0.48) 93.24%, rgba(66, 68, 69, 0.55) 100%);
}

.support-nav h1 {
    color: #F7FEFF;
    font-family: Sedan SC;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}