.h1{
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}

.about-container{
    width: 100%;
    background-image: url("./src/assets/images/about2.jpeg");
    height: 72vh;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .about-container p{
    color: white;
    width: 700px;
    font-size: 20px;
    margin: 0 0 0 100px;
    padding-top:50px;
  }
  .about-us{
  display: flex;
  justify-content: space-between;
  background-image: url("./src/assets/images/about1.jpeg");
  background-size: cover;
  color: white;
  background-size: cover;
  height: 15vh;
  }

  .footer{
    text-align: right;
    background-image: url("./src/assets/images/about3.jpeg");
    background-size: cover;
    color: white;
    height: 10vh;


  }
  .icons{
    display:flex;
    height: 50px;
    padding: 10px 0 0 10px;
    width: 15%;
    /* background-color: red; */
    justify-content: space-between;
  }
  .icons img{
    width: 80px;
    height: 80px;
  }