.heading{
    text-align: center;
    font-size: 40px;
}
.works_trade{
    position: sticky;
    top: 130px;
    right: 1020px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 30px 5px 5px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 1px 1px 4px grey;
    color: rgb(0, 0, 0) ;
}
.works_trade:hover{
    background-color: black;
    color: aliceblue;
    border: 1px solid rgb(0, 0, 0);
}
.main-works{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 253, 225);
    color: rgb(0, 0, 0);
}
.Hcards{
    display: flex;
    justify-content: center;
    width: 95%;
    flex-wrap: wrap;
}
.Hcards img{
    width: 50px;
}
.flag{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
svg{
    /* background-color: blue; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 10px;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 250px;
    background-color: rgb(251, 245, 199);
    /* border: 2px solid rgb(0, 0, 0); */
    box-shadow: 1px 1px 4px grey;
    height: 250px;
    border-radius: 15px;
    margin: 10px;
}
.cards h1{
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 208, 0);
}
.cards p{
    width: 90%;
    margin-bottom: 20px;
}
.signals{
    width: 70%;
    height: 40vh;
    background-color: aliceblue;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 4px grey;
}
.rise{
    color: rgb(1, 234, 1);

}
.fall{
    color: red;
}
.Cname{
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sell{
    border: 1px solid red;
    padding: 5px 20px 5px 20px;
    margin:10px;
}
.buy{
    border: 1px solid green;
    padding: 5px 20px 5px 20px;
    margin:10px;
}
.currency1{
    color: black;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}