body {
    background-color: black;
    color: white;
}

.dashboard-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;

    padding: 10px;
}

.img-div {
    border: 1px solid white;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.img-div img {
    padding: 6px;
}

.affiliate {
    display: flex;
}

.affiliate-link  {
    display: inline-block;
    text-decoration: underline;

    margin-top: 20px;
}

.user-sect {
    display: flex;
}

.user-sect img {
    width: 70px;
}

.user-sect p {
    display: inline-block;

    margin-right: 10px;
    margin-top: 17px;
    font-size: 20px;
}