body {
    background: #00010E;
    color: white;
}

.dashboard marquee {
    background-color: white;
    color: red;

    padding: 8px;
}

.dashboard-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;

    padding: 10px;
    margin-bottom: 5px;
}

.img-div {
    border: 1px solid white;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.img-div img {
    padding: 6px;
}

.affiliate {
    display: flex;
}

.affiliate-link  {
    display: inline-block;
    text-decoration: underline;

    margin-top: 20px;
}

.user-sect {
    display: flex;
}

.user-sect img {
    width: 70px;
}

.user-sect p {
    display: inline-block;

    margin-right: 10px;
    margin-top: 17px;
    font-size: 20px;
}

.dashboard-main {
    display: flex;
}

.dashboard-btns {
    display: flex;
    flex-direction: column;

    width: 350px;
}
.dashboard-btns .btn {
    display: inline-block;
    border: 1px solid yellow;

    margin: 15px;
    width: 300px;
    height: 50px;
    border-radius: 14px;
}

.dashboard-btns .btn p {
    color: red;
}

.dashboard-cashCards {
    background-color: black;
}