.with{
    background-color: rgb(245, 245, 180);
    padding: 20px 0 20px 0;
}
.payment{
   text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.images{
    
    display: flex;
    justify-content: space-between;
    width:15%;
    margin-left:42.5% ;
    height: 40%;
   
}
.images img{
    
    width: 55px;
    border-radius: 100px;
    /* mix-blend-mode:color-burn; */

}
.deposit{
    text-align: center;
    margin-bottom: 10px;
}
.header{
    text-align: center;
    color: blue;
    font-size: 50px;
}
